.App {
  background-image: url('./images/sky-background.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  text-align: center;
}

.App-header {
  background-color: #ffdd35;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

.logo {
  width: 150px;
  height: 150px;
  border-radius: 150%; 
  border: 1px solid #3557ff;
}

.seven-hours {
  display: grid;
  grid-template-columns: repeat(7, 1fr);
}